:root {
  --mainColor: #7ac118;
  --heroSectionColor: #eaf2e1;

  --ff-myriad-400: 'MyriadRegular';
  --ff-gotham-900: 'GothamBlack';
  --ff-gotham-500: 'GothamMedium';
  --ff-gotham-400: 'GothamBook';
}

@font-face {
  font-family: 'GothamBold';
  src: url('assets/fonts/Gotham-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'GothamBlack';
  src: url('assets/fonts/Gotham-Black.otf') format("opentype");
}

@font-face {
  font-family: 'GothamBook';
  src: url('assets/fonts/GothamBook.ttf');
}

@font-face {
  font-family: 'GothamMedium';
  src: url('assets/fonts/GothamMedium.ttf');
}

body,
html {
  /* overflow-x: hidden; */
}

body {
  font-family: 'GothamBook' !important;
}

.container {
  max-width: 1170px;
  padding-inline: 15px;
  margin-inline: auto;
}


.themeBtn {
  background-color: var(--mainColor);
  padding: 15px 58px;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.mobileNavBar {
  flex-direction: column;
}

.mobHeaderMain {
  display: flex;
  justify-content: space-between;
}

.mobileHeader {
  margin: 20px 0;
  display: none
}

.mobileHeader .logoLeftMain img {
  width: 195px;
}

.toggleOffcanvas {
  background-color: var(--mainColor);
  color: white;
  border: none;
  padding: 0 10px 3px 10px;
  font-size: 25px;
  border-radius: 3px;
}

.mobileNavBar a {
  color: black;
  padding: 15px 10px;
  border-radius: 5px;
}

.mobileNavBar a:hover {
  background-color: var(--mainColor);
  color: white;
}

.desktopTopHeader {
  background-color: var(--mainColor);
  display: flex;
  justify-content: center;
  font-size: 16px;
  align-items: center;
  height: 40px;
}

.desktopTopHeader p {
  margin-bottom: 0;
}

.upperHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.upperHeader .rightMenu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
}

.searchElement {
  border: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  max-width: 540px;
  height: 50px;
}

.searchElement button {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--mainColor);
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 115px;
}

.searchElement input {
  border: none;
  height: 100%;
  outline: 0;
  width: 100%;
}

.cartElementInner {
  position: relative;
  background-color: #f3f9ea;
  border-radius: 50%;
  display: flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.userElement {
  background-color: #f3f9ea;
  border-radius: 50%;
  display: flex;
  width: 55px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.cartElementInner .itemCounterElemnt {
  position: absolute;
  background-color: var(--mainColor);
  color: white;
  border-radius: 50%;
  padding: 3px 5px;
  top: 2px;
  right: 3px;
  font-size: 12px;
}
.featureCard h6{
  font-family: 'GothamBook';
  font-size: 20px;
}
.logo img {
  width: 200px;
}

.lowerHeader {
  margin: 20px 0;
}

.lowerHeader nav {
  display: flex;
  justify-content: space-between;
}

.lowerHeader nav ul {
  margin: 0;
  padding: 0;
  font-size: 18px;
  list-style: none;
  gap: 25px;
  display: flex;
}
.lowerHeader nav ul li {
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.lowerHeader nav ul li::before {
  content: '';
  height: 20px;
  width: 20px;
  border-radius: 50%;
  top: 0;
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 0;
  background-color: var(--mainColor);
  position: absolute;
  transform: scale(0); /* Initially, set the scale to 0 to hide the dot */
  transition: transform 0.2s ease; /* Add a smooth transition effect */
}
.lowerHeader nav ul li:hover::before {
  transform: scale(1); /* When hovered, scale the dot to its original size */
}

.lowerHeader nav ul+ul {
  gap: 37px;
  margin-right: 10px;
}

.homePageMain {
  background-image: url(/src/assets/images/heroBackroundImg.png);
  background-repeat: no-repeat;
  background-position: top left;
  height: 650px;
  background-color: var(--heroSectionColor);
}

.heroHeading1 {
  color: var(--mainColor);
  font-size: 70px;
  padding: 0;
  margin: 0;
  font-family: var(--ff-gotham-900);
  line-height: 1;

}

.heroHeading2 {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 70px;
  line-height: 1;
  padding-bottom: 20px;
}

.divder {
  background-color: var(--mainColor);
  height: 2px;
  width: 230px;
  margin: 10px 0;
}

.homePageInner {
  display: flex;
  padding: 120px 0;
  /* align-items: center;
  justify-content: center; */
}

.homeImageMain {
  position: relative;
  height: 100%;
  width: 100%;
  /* width: 700px; */
}

.homeLeft,
.homeRight {
  width: 50%;
}

.imageBack {
  position: absolute;
  width: 685px;
  z-index: 0;
  top: -45px;
  right: 0;
  mix-blend-mode: multiply;
}

.imageFront {
  position: absolute;
  width: 470px;
  z-index: 1;
  top: 0;
  right: 0;
}

.homePara {
  margin: 20px 0 30px 0;
}

.section2 {
  position: relative;
}

.section2Absolute {
  height: 100px;
  width: 100%;
  z-index: -1;
  position: absolute;
  /* z-index: 1; */
  background-color: var(--heroSectionColor);
}

.section2Main {
  display: flex;
  justify-content: center;
}

.section2Left {
  background-image: url(assets/images/section2Img1.png);
  height: 390px;
  min-width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.section2Left p {
  margin: 0;
  color: white;
}

.section2Leftp1 {
  font-family: var(--ff-gotham-500);
  font-size: 20px;
}

.section2Leftp2 {
  font-family: var(--ff-gotham-900);
  font-size: 38px;
}

.section2Leftp3 {
  font-family: var(--ff-gotham-400);
  font-size: 16px;
}

.section2Right {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 0 10px 10px 0;
  padding: 0 80px;
  background-image: url(assets/images/section2Img2.png);
  background-position: center;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.section2RightPara {
  min-width: 310px;
}


/**----- SHOP SLIDER SECTION START  ------*/
.shopSliderSection {
  padding: 140px 0 90px;
}

.shopSliderSection .section__text {
  text-align: center;
}

.shopSliderSection .section__text h4 {
  font-size: 50px;
  position: relative;
  font-weight: 500;
  font-family: var(--ff-gotham-500);
  margin-bottom: 60px;
}

.shopSliderSection .section__text h4 span {
  color: #7ac118;
  font-family: var(--ff-gotham-900);
}

.shopSliderSection .section__text h4::before {
  content: url(assets/images/heading-bg.png);
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.shopSliderSection .container {
  max-width: 1620px;
}

.productCard {
  padding: 44px 30px 36px 30px;
  border: 1px solid #dedede;
  border-radius: 5px;

  max-width: 280px;
  width: 100%;
  margin: 0 15px 0;

  text-align: center;
  position: relative;

  height: 400px;
  transition: all 1s ease;
}

@keyframes buttonAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div:has(>.productCard) {
  height: 570px;
}

.productCard:hover {
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transform: translateY(10px);
  height: 480px;
}

.productCard:hover .buttonContainer {
  display: block;
  animation-play-state: running;
}


.productCard .buttonContainer {
  /* position: absolute; */
  bottom: 30px;
  margin-inline: auto;
  text-align: center;
  width: 100%;

  opacity: 0;
  display: none;
  animation: buttonAnimation 1s linear forwards;
  animation-delay: 250ms;
  animation-play-state: paused;
}

.productCard img {
  display: block;
  margin-inline: auto;
}

.productCard .img__wrap {
  margin-bottom: 20px;
}
.productCard .img__wrap img{
  
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.productCard h6 {
  font-family: var(--ff-gotham-500);
  font-size: 16px;
  line-height: 19px;
  color: #3f3f3f;

  text-transform: uppercase;
}

.productCard .rating-img {
  margin-bottom: 10px;
}

.productPrice {
  margin-bottom: 15px;
}

.productPrice span {
  font-family: 'Poppins', sans-serif;
  margin-right: 15px;
}

.discountPrice {
  color: #76767e;
  font-size: 20px;
}

.price {
  font-size: 24px;
  font-weight: 600;
  color: #3e8e07;
}
.item{
  display: flex;
  justify-content: center;
}

.productCard .themeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  gap: 5px;
  color: #FFF;

  max-width: 230px;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 0;

}

.productCard .themeBtn i {
  font-size: 20px;
}

.sliderButton a {
  background: #3e8e07;
}


.util__panel {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

/**----- SHOP SLIDER SECTION END  ------*/

/**----- FEATURE SECTION START  ------*/

.featureSection{
  background-image: url(assets/images/section4Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 570px;
}

.featureSection .container {
  max-width: 1400px;
}
.featureSection{
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
.featureMain {
  /* padding: 125px 0;
  background: rgba(0, 0, 0, 0.19); */
}
.featureSectionInner{
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  /* align-items: center; */
}

.featureMain .section__text {
  margin-bottom: 40px;
}

.featureMain .section__text h4 {
  color: #FFF;
  font-weight: 600;
  font-family: var(--ff-gotham-500);
  font-size: 50px;
}

.featureCard {
  max-width: 330px;
  width: 100%;
  min-width: 200px;
}

.featureCard .img__wrap {
  margin-bottom: 20px;
}

.featureCard h6 {
  font-family: var(--ff-myriad-400);
  color: #FFF;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: .5px;
  font-weight: 600;
}
.utilPanels{
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.featureCard p {
  font-family: var(--ff-gotham-400);
  color: #FFF;
  font-size: 18px;
  letter-spacing: -.2px;
}

/**----- FEATURE SECTION END  ------*/

/**----- FOOTER START  ------*/
footer {
  padding-top: 90px;
}

footer p {
  font-size: 14px;
  letter-spacing: -.2px;
  margin-bottom: .5em;
  color: #000;
  font-family: var(--ff-gotham-400);
}

footer .container {
  max-width: 1500px;
}

.top__footer {
  margin-bottom: 60px;
}

.footer__heading {
  font-size: 22px;
  font-family: var(--ff-gotham-500);
  /* font-weight: 300; */
  margin-bottom: 1em;
}

.footer__text {
  max-width: 414px;
  width: 100%;
}

.footer__text .img__wrap {
  margin-bottom: 20px;
}

.footer__text p {
  margin-bottom: 30px;
}

.social__icons {
  display: flex;
  gap: 20px;
}

.social__icons i {
  font-size: 17px;
  color: #7ac118;
}

.social__icons>div {
  height: 37px;
  width: 37px;
  border-radius: 100%;
  background-color: #FFF;
  border: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__links {
  flex: 1;
  max-width: 500px;
}

.footer__links .footer__heading,
.footer__address .footer__heading {
  margin-bottom: 40px;
}

.footer__links ul {
  padding: 0;
  /* max-width: max-content; */
  width: 100%;
  list-style: none;
}

.footer__links li {
  margin: 0 0 10px;
}

.footer__links li,
.footer__address * {
  font-family: var(--ff-gotham-500);
  margin-bottom: 15px;
}

.footer__list:nth-of-type(1) {
  /* max-width: max-content; */
  margin-right: 100px;
}

.footer__address i {
  color: #7ac118;
  margin-right: 5px;
  font-size: 20px;
}

.bottom__footer {
  padding: 30px 0 0;
}

.copyright {
  font-family: var(--ff-gotham-500);
  font-size: 18px;
}
.footerPayment .imgWrapInner{
  gap: 10px;
  display: flex;
}
.footerPayment{
  font-family: var(--ff-gotham-500);
  display: flex;
  gap: 10px;
}
/**----- FOOTER END  ------*/

.slick-arrow{
  display: none !important;
}


@media only screen and (max-width: 1200px) {
  .desktopHeader {
    display: none;
  }

  .imageBack {
    width: 488px;
  }

  .mobileHeader {
    display: block;
  }

  .imageFront {
    width: 330px;
  }
}

@media only screen and (max-width: 991px) {
  .homeLeft {
    width: 100%;
  }

  .footer__list:nth-of-type(1) {
    margin: 0;
  }

.top__footer {
  margin-bottom: 20px;
}

  .social__icons {
    justify-content: center;
    margin-bottom: .5rem;
  }

footer * {
  text-align: center;
}

  .footer__heading {
    margin-bottom: 20px !important;
  }

  .featureCard {
    text-align: center;
  }

  .util__panel {
    flex-direction: column;
    align-items: center;
  }

  .homePageInner {
    position: relative;
  }

  .homeRight {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
  }

  .section2Right {
    padding: 30px 60px;
    border-radius: 0 0 10px 10px;
  }

  .section2Main {
    flex-direction: column;

  }
}